* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
body {
  color: #263138;
}
/* Cabeçalho */
header {
  padding: 24px 80px;
  background-color: #ff9a6c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Navegação */
header nav a {
  color: #ffffff;
  font-weight: 600;
  padding: 32px;
  text-decoration: none;
}
/* Seção Inicial */
#inicio {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 24px 80px 128px 80px;
  position: relative;
}
/* Seção Clínica */
#clinica {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 64px 80px;
}
#clinica li {
  margin-bottom: 20px;
  margin-left: 32px;
}
/* Seção Petshop e Farmácia */
#farmacia {
  text-align: center;
  padding: 64px 80px;
}
#farmacia img {
  margin: 64px auto;
}
#farmacia .paragrafo {
  max-width: 950px;
  margin: 0 auto;
}
/* Seção das Dúvidas */
#duvidas {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}
.duvida {
  position: relative;
}
.duvida h3 {
  border: 2px solid #ff725e;
  border-radius: 8px;
  cursor: pointer;
  padding: 24px;
}
.duvida img {
  position: absolute;
  top: 32px;
  right: 24px;
}
.duvida .paragrafo {
  border-right: 1px solid #ff725e;
  border-left: 1px solid #ff725e;
  border-bottom: 1px solid #ff725e;
  border-radius: 0 0 8px 8px;
  margin-top: -8px;
  padding: 0 24px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s;
}
.duvida.ativa .paragrafo {
  height: fit-content;
  opacity: 1;
  padding: 24px;
}
/* Footer */
footer {
  background-color: rgba(255, 152, 100, 0.25);
  display: flex;
  gap: 80px;
  padding: 64px 80px;
  justify-content: space-between;
}
footer .titulo,
footer img {
  display: block;
  font-weight: 600;
  margin-bottom: 24px;
}
footer nav a {
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
}
footer p a {
  margin: 16px;
  color: #ff725e;
  text-decoration: none;
}
#copy {
  background-color: #272727;
  text-align: center;
  padding: 24px;
  color: #fff;
}
#copy a {
  color: #ff725e;
}
/* Títulos */
h1,
h2 {
  font-weight: 600;
  margin: 0 0 32px 0;
  font-size: 32px;
}
/* Paragráfos */
.paragrafo {
  line-height: 150%;
  margin-bottom: 32px;
}
/* Botões */
.botao {
  background-color: #ff725e;
  border-radius: 8px;
  color: #ffffff;
  padding: 16px 32px;
  text-decoration: none;
}
.botao-transparente {
  background-color: transparent;
  color: #ff725e;
  padding: 16px 32px;
  text-underline-offset: 4px;
}
/* Imagens */
img.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}
